@import "../common/style/global.css";

body{
    background-color: var(--cor-secundaria);
    margin-top: 100px;
}

.foto_perfil {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.foto_perfil #foto {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    height: 100%;
    width: 100%;
    object-fit: cover; /* Mantém a proporção e corta a imagem para cobrir o contêiner */
    border-radius: 50%; /* Certifica-se de que a imagem é circular */
}

.container_perfil {
    height: fit-content;
    width: 1350px;
    position: absolute;
    border-bottom: 1cm;
    border-bottom-width: auto;
    border-bottom-color: black;
    background-color: var(--cor-fundo);
    align-self: center;
    align-items: center;
    padding: 2rem;
    left: 10%;
    right: 10%;
    top: 10% ;
    
}


.container_perfil #container_header {
    border-bottom: 1px dotted black;
    margin:1rem;
    display: flex;
    align-items: center;
}

.container_perfil #perfil_header {
    border-bottom: 1px dotted black;
    margin:1rem;
    display: flex;
    align-items: center;
}

.container_perfil #perfil_header #new_post_button {
    position: absolute;
    right: 5%;
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    border-radius: var(--raio-borda);
    background-color: var(--cor-primaria);
    color: white;
    cursor: pointer;
    transition: background 0.2s, border-color 0.3s;
}

.container_perfil #container_header button:hover {
    background-color: var(--cor-primaria2);
}

.container .posts {
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.card {
    height: fit-content;
    width: 95%;
    background-color: var(--cor-primaria2);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: 1rem;
    text-justify: inter-word; 
    
}

.caixa_botao {
    width: 20%;
    margin-left: 0px;
    cursor: pointer;
}

.card a {
    color: white;
    text-decoration: none;
}

.card .post_header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.card .post_header .dados {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.card .post_header .dados h2 {
    margin: 0;
}

.card .post_header .dados img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.5rem;
    transform: translateY(.75rem);
}

.card .post_header .dados button img {
    width: 2rem;
    height: 2rem;
}

.card .post_header .buttons_container {
    display: none;
    align-items: center;
    gap: 1rem;
}

.card .post_header .buttons_container .postModal-button {
    width: fit-content;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}


.postModal-button img {
    width: 2rem;
    height: 2rem;
}

.card .content p {
    margin: 0 0 1rem 0;
    text-justify: inter-word; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--cor-fundo);
    position: fixed;
    top: 15%;
    margin-left: 25%;
    padding: 20px;
    width: 50%;
    border-radius: var(--raio-borda);
}

.modal #modalPost-button {
    width: fit-content;
    font-size: 1rem;
}