@import "../common/style/global.css";

body{
    background-color: var(--cor-secundaria);
}

.container {
    height: fit-content;
    width: 70%;
    position: absolute;
    margin: 0 auto;
    top: 10vh;
    left: 15%;
    background-color: var(--cor-fundo);

    align-items: center;
    padding: 2rem;
}

.container #container_header {
    border-bottom: 1px dotted black;
    margin:1rem;
    display: flex;
    align-items: center;
}

.container #container_header #new_comment_button {
    position: absolute;
    right: 5%;
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    border-radius: var(--raio-borda);
    background-color: var(--cor-primaria);
    color: white;
    cursor: pointer;
}

.container #container_header button:hover {
    background-color: var(--cor-primaria21);
}

.container .comment {
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.card {
    height: fit-content;
    width: 100%;
    background-color: var(--cor-primaria2);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.card a {
    color: white;
    text-decoration: none;
}

.card .post_header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.card .post_header .dados {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.card .post_header .dados h2 {
    margin: 0;
}

.card .post_header .dados img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3.5rem;
    transform: translateY(.75rem);
}

.card .post_header .dados button img {
    width: 2rem;
    height: 2rem;
}

.card .post_header .buttons_container {
    display: none;
    align-items: center;
    gap: 1rem;
}

.card .post_header .buttons_container .postModal-button {
    width: fit-content;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}


.postModal-button img {
    width: 2rem;
    height: 2rem;
}

.card .content p {
    margin: 0 0 1rem 0;
}

.card p{
    color:aliceblue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--cor-fundo);
    position: fixed;
    top: 15%;
    margin-left: 25%;
    padding: 20px;
    width: 50%;
    border-radius: var(--raio-borda);
}

.modal #modalComment-button {
    width: fit-content;
    font-size: 1rem;
}