*{
    margin: 0;
    padding: 0;
}


body{
    background-color:#ECF3FB;
    font-family: 'Poppins', sans-serif;
}
main{
    background-color:#ECF3FB;
}

section{
    background-color: #ECF3FB;
} 

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#27BD80;
    padding: 0.5rem;
    gap: 0.5rem;
    
}
.header_profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.container{
    width: 70%;
    height: 100%;
    
    align-items: center;
    margin: 0 auto;

    border: 1px solid black
}

.coment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.7rem;
    
}

.coment_editavel{
    background: #002F67;

    border: 1px solid black;
    
}

.texto-editar{
    height: 40%;
}

.texto-editar img{
    padding: 0.5rem;
    gap: 0.5rem;
    
}

.edit{
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
    
}

#trash{

}

.coment_final{
    background-color: #002F67;
    border-radius: 1rem;
    display:inline-block;
    color: white;
    text-align: center;
    width: 70%;
    position: relative;
    
    left: 11%;
    margin: 25px 25px 25px 25px;
    
}